src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc"
	xmlns:american-flights-api2="http://www.mulesoft.org/schema/mule/american-flights-api2"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/american-flights-api2 http://www.mulesoft.org/schema/mule/american-flights-api2/current/mule-american-flights-api2.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="getAMericanflights" doc:id="08d69864-a28d-4941-baaf-22617437c9ca" >
		<http:listener doc:name="GET /american" doc:id="a0cbd1df-b0a3-46ba-92c9-66ba32afd4f8" config-ref="HTTP_Listener_config" path="/american" allowedMethods="GET"/>
		<flow-ref doc:name="setCode" doc:id="7905c0fc-9780-41b6-a5f4-27e125b6c2c0" name="setCode"/>
		<american-flights-api2:get-flights doc:name="Get flights" doc:id="c893e0ee-acb4-4832-9c32-bd744d8a88b2" config-ref="American_Flights_API_2_Config" client-id="${american.client_id}" client-secret="${american.client_secret}" destination="#[vars.code]"/>
		<ee:transform doc:name="JSON to [Flights]" doc:id="eb8bd666-985c-41dd-8b55-90b7864a7670" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload map ( payload01 , indexOfPayload01 ) -> {
	airlineName: "American",
	availableSeats: payload01.emptySeats,
	departureDate: payload01.departureDate,
	destination: payload01.destination,
	flightCode: payload01.code,
	origination: payload01.origin,
	planeType: payload01.plane."type",
	price: payload01.price
} as Object {
	class : "com.mulesoft.training.Flight"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="2feb7607-b025-4ed2-b119-b734a5814e12" />
	</flow>
	<sub-flow name="setCode" doc:id="db2b6543-3c29-484c-98d6-85ce73748d81" >
		<set-variable value="#[message.attributes.queryParams.code default 'SFO']" doc:name="code" doc:id="9b149417-1492-41d1-a55f-8d82201dbfd3" variableName="code"/>
	</sub-flow>
	<flow name="getUnitedFlights" doc:id="4574bcd7-83ac-4079-9382-106a00e973e6" >
		<http:listener doc:name="GET /united" doc:id="a75d69e9-23d3-4333-898f-a2c9f46c4770" config-ref="HTTP_Listener_config" path="/united" allowedMethods="GET"/>
		<flow-ref doc:name="setCode" doc:id="9f518ab4-73e3-48bf-925d-cb9c3ec7cb8c" name="setCode"/>
		<http:request method="GET" doc:name="Get Flights" doc:id="33350f16-459f-46fd-9dcc-534275262fa1" config-ref="HTTP_Request_configuration" path="/united/flights/{dest}">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"dest" : vars.code
}]]]></http:uri-params>
		</http:request>
		<ee:transform doc:name="JSON to [flights]" doc:id="57891724-171c-4280-8840-206924596047" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
	flights: payload.flights map ( flight , indexOfFlight ) -> {
		airlineName: flight.airlineName,
		price: flight.price,
		departureDate: flight.departureDate,
		planeType: flight.planeType,
		origin: flight.origin,
		code: flight.code,
		emptySeats: flight.emptySeats,
		destination: flight.destination
	}
}
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="ac15a302-25d7-44c4-8314-80389f403eb1" />
	</flow>
	<flow name="getDeltaflight" doc:id="f25f3653-576e-4017-b3ff-e54d842836c7" >
		<http:listener doc:name="GET /delta" doc:id="f3958a72-cac3-4dd8-b676-725014e11a51" config-ref="HTTP_Listener_config" path="/delta" allowedMethods="GET"/>
		<flow-ref doc:name="setCode" doc:id="3a81f951-7e88-400c-8829-e3adc6dd598e" name="setCode"/>
		<ee:transform doc:name="SOAP to [Flights]" doc:id="a908487d-fa13-4c1f-ac14-96a2cf73d91a" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://soap.training.mulesoft.com/
---
{
	ns0#findFlight: {
		destination: vars.code
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume operation="findFlight" doc:name="get Flights" doc:id="3395067f-33d5-45b4-a19d-df2f19fc8189" config-ref="Delta_Web_Service_Consumer_Config"/>
		<ee:transform doc:name="SOAP to JSON" doc:id="aca32d2b-ef2f-487e-974a-357210e45b77" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
ns ns0 http://soap.training.mulesoft.com/
---
payload.body.ns0#findFlightResponse.*return map ( return , indexOfReturn ) -> {
	airlineName: return.airlineName,
	availableSeats: return.emptySeats,
	departureDate: return.departureDate,
	destination: return.destination,
	flightCode: return.code,
	origination: return.origin,
	planeType: return.planeType,
	price: return.price
} as Object {
	class : "com.mulesoft.training.Flight"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="f4619096-be23-4c87-9367-e1687fc93584" />
	</flow>
</mule>
